.smartInvestor {
  position: relative;
  height: 100%;
}

.smartInvestor h2 {
  font-size: 40px;
  position: absolute;
  top: 6%;
}
.smartInvestor p {
  position: absolute;
  top: calc(8% + 75px);
}

.smartInvestor__ul {
  position: absolute;
  top: calc(8% + 159px);
  list-style-position: outside;
  width: 505px;
  margin-left: 20px;

  li {
    margin-bottom: 24px;
  }
}

.smartInvestor__button-primary,
.smartInvestor__button-secondary {
  position: absolute;
  font-family: "Aleo", serif;
  font-size: 22px;
  line-height: 28px;
  padding: 10px 28px;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  width: 345px;
  right: calc(50% - 440px);
  top: calc(8% + 75px);
}

.smartInvestor__button-secondary {
  background-color: #fff;
  color: #9e6d40;
  border: none;
  margin-top: 60px;
}

.smartInvestor__img {
  position: absolute;
  bottom: calc(50% - 410px);
  right: calc(50% - 534px);
}
